@use '~@teambit/design.responsive.breakpoints/_breakpoints.module.scss';

.exploreSection {
  max-width: 1440px;
  margin: auto;
}
.content {
  display: flex;
  margin: 40px 0;
  @include breakpoints.media-md {
    margin-right: 20px;
  }
  @include breakpoints.media-xl {
    margin-left: 20px;
  }
  .left,
  .right {
    flex: 1;
  }
  .left {
    min-width: 576px;
    @include breakpoints.media-md {
      min-width: unset;
    }
  }
  .right {
    overflow: hidden;
    @include breakpoints.media-md {
      display: none;
    }
  }
}
.heading {
  margin-bottom: 24px;
}
.subtitle {
  margin: 0 0 40px;
}
.searchInput {
  width: 320px;
  margin-bottom: 40px;
  @include breakpoints.media-xs {

    width: unset;
  }
}
.linkHolder {
  display: flex;
  @include breakpoints.media-xs {

    flex-direction: column;
    a:first-child {
      margin-bottom: 8px;
    }
  }
}
.link {
  display: flex;
  align-items: center;
  margin-right: 24px;
  .icon {
    margin-left: 8px;
  }
}
.gridGraph {
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
